<header>
  <nav>
    <ul>
      <li *ngFor="let link of links">
        <a mat-button routerLink="{{link.path}}" routerLinkActive="active">{{link.name}}</a>
      </li>
      <div class="spacer" aria-hidden="true"></div>
      <li *ngIf="!isLoggedIn">
        <a mat-button routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a mat-button routerLink="register" routerLinkActive="active">Register</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a mat-button routerLink="add-dinner" routerLinkActive="active">Make a dinner</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a mat-button (click)="logOut()">logout</a>
      </li>
    </ul>
  </nav>
</header>