<header>
  <nav>
    <ul>
      <li *ngFor="let link of links">
        <a mat-button routerLink="{{link.path}}" routerLinkActive="active">{{link.name}}</a>
      </li>
      <div class="spacer" aria-hidden="true"></div>
      <li *ngIf="!isLoggedIn">
        <a id="login-link" mat-button routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="!isLoggedIn">
        <a id="register-link" mat-button routerLink="register" routerLinkActive="active">Register</a>
      </li>
      <li *ngIf="isLoggedIn">
        <a id="admin-link" mat-button routerLink="admin">Admin</a>
      </li>
      <li *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">Profile</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="my-dinners" routerLinkActive="active">My Dinners</a>
          <a mat-menu-item routerLink="add-dinner" routerLinkActive="active">Make a dinner</a>
        </mat-menu>
      </li>
      <li *ngIf="isLoggedIn">
        <a mat-button (click)="logOut()">Logout</a>
      </li>
    </ul>
  </nav>
</header>