<section>
  <button mat-button (click)="makeFakeDinner()">Make fake dinner</button>
  <input type="text" [(ngModel)]="search">
  <div class="dinner-list">
    <mat-card *ngFor="let dinner of dinners | filterDinners: search">
      <mat-card-header>
        <mat-card-title>{{dinner.host.name}}</mat-card-title>
        <mat-card-subtitle>in {{dinner.streetAddress}}, {{dinner.city}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{dinner.menu}}</mat-card-title>
        <p>{{dinner.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- TODO: Use the button -->
        <button mat-button>Button</button>
        <!-- TODO: admin button -->
      </mat-card-actions>
    </mat-card>
  </div>
</section>