<section>
  <button mat-button (click)="makeFakeDinner()">Make fake dinner</button>
  <input type="text" [(ngModel)]="search">
  <div class="dinner-list">
    <mat-card *ngFor="let dinner of dinners | filterDinners: search">
      <mat-card-header>
        <mat-card-title>{{dinner.host.name}}</mat-card-title>
        <mat-card-subtitle>in {{dinner.streetAddress}}, {{dinner.city}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{dinner.menu}}</mat-card-title>
        <p>{{dinner.description}}</p>
        <mat-chip-list>
          <mat-chip *ngFor="let specific of dinner.specifics">{{specific}}</mat-chip>
        </mat-chip-list>
        <p *ngIf="dinner.attendees.includes(currentUser)">You are attending the dinner</p>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="currentUser && !dinner.attendees.includes(currentUser)" (click)="addGuestToDinner(dinner.id)" mat-button>Join dinner!</button>
        <!-- TODO: admin button -->
      </mat-card-actions>
    </mat-card>
  </div>
</section>