mat-form-field, tag-input {
  width: 100%;
  max-width: 40rem;
}


@import "~ngx-chips/core/styles/core/_core.scss";

$my-theme-primary: rgba(0,0,0,.42);
$my-theme-primary-dark: darken($my-theme-primary, 10%);

// this is the container's theme
$my-theme-theme: (
    container-border-bottom: 1px solid $my-theme-primary,
    background: tomato
);

// this is the tag's theme
$my-theme-tag-theme: (
    background: $my-theme-primary,
    background-focused: $my-theme-primary-dark,
    background-active: $my-theme-primary-dark,
    background-hover: $my-theme-primary-dark,
    color: #fff,
    color-hover: #fff,
    border-radius: 2px
);

// this is the delete icon's theme
$my-theme-icon-theme: (
    fill: #fff,
    fill-focus: #eee,
    transition: all 0.35s
);

// apply theme to the container
:host /deep/ .my-theme.ng2-tag-input {
  @include tag-input-theme($my-theme-theme);
}
/* 
// apply theme to the tags
:host /deep/ .my-theme.ng2-tag-input tag {
  @include tag-theme($my-theme-tag-theme);
}

// apply theme to the delete icon
:host /deep/ .my-theme.ng2-tag-input tag delete-icon {
  @include icon-theme($my-theme-icon-theme);
} */